@use "../styles/utils.scss" as *;

:root {
  font-size: 1.38vw;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.cover {
  width: 100%;
  height: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include mobile() {
  :root {
    font-size: 2vw;
  }
}
